## 1. Perceptron

<img src="./img/perceptron-6168423.jpg" alt="drawing" width="650"/>

Empezamos cargando librerias

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

Cargamos datos. Utilizaremos el dataset de pinguinos de seaborn

In [2]:
df = sns.load_dataset("penguins")
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [4]:
df = sns.load_dataset("penguins")

# Limpiamos un poco los datos
df.dropna(inplace=True)
cleanup_nums = {"species": {"Adelie": 0,
                            "Chinstrap": 1,
                            "Gentoo": 2},
               "sex": {"Male": 0,
                       "Female": 1}}
df.replace(cleanup_nums, inplace=True)
df = pd.get_dummies(df)

df.head()

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,island_Biscoe,island_Dream,island_Torgersen
0,0,39.1,18.7,181.0,3750.0,0,0,0,1
1,0,39.5,17.4,186.0,3800.0,1,0,0,1
2,0,40.3,18.0,195.0,3250.0,1,0,0,1
4,0,36.7,19.3,193.0,3450.0,1,0,0,1
5,0,39.3,20.6,190.0,3650.0,0,0,0,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            333 non-null    int64
 1   bill_length_mm     333 non-null    float64
 2   bill_depth_mm      333 non-null    float64
 3   flipper_length_mm  333 non-null    float64
 4   body_mass_g        333 non-null    float64
 5   sex                333 non-null    int64
 6   island_Biscoe      333 non-null    uint8
 7   island_Dream       333 non-null    uint8
 8   island_Torgersen   333 non-null    uint8
dtypes: float64(4), int64(2), uint8(3)
memory usage: 19.2 KB

In [6]:
df.describe()

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,island_Biscoe,island_Dream,island_Torgersen
count,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000
mean,0.918919,43.992793,17.164865,200.966967,4207.057057,0.495495,0.489489,0.369369,0.141141
std,0.889718,5.468668,1.969235,14.015765,805.215802,0.500732,0.500642,0.483360,0.348691
min,0.000000,32.100000,13.100000,172.000000,2700.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,39.500000,15.600000,190.000000,3550.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,44.500000,17.300000,197.000000,4050.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,48.600000,18.700000,213.000000,4775.000000,1.000000,1.000000,1.000000,0.000000
max,2.000000,59.600000,21.500000,231.000000,6300.000000,1.000000,1.000000,1.000000,1.000000

Dividimos en train test

In [7]:
from sklearn.model_selection import train_test_split

X = df.iloc[:, 1:]
y = df.iloc[:, 0]

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42)

In [8]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(266, 8)
(67, 8)
(266,)
(67,)

Vamos a probar un Perceptrón

In [10]:
from sklearn.linear_model import Perceptron

per_clf = Perceptron(random_state=1)
per_clf.fit(X_train, y_train)
per_clf.score(X_test, y_test)

0.19402985074626866

In [11]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(max_iter=10000)
log_reg.fit(X_train, y_train)

log_reg.score(X_test, y_test)

0.9850746268656716

Probemos a estandarizar

Parece que el perceptrón por si solo es bastante inútil, habrá que probar configuraciones más complejas.

## 2. Multi Layer Perceptron

In [13]:
from sklearn.neural_network import MLPClassifier
#from sklearn.neural_network import MLPRegressor

mlp = MLPClassifier(random_state=42)
mlp.fit(X_train, y_train)

mlp.score(X_test, y_test)

0.43283582089552236

Probemos otra configuración. Es posible crear una red neuronal desde la propia función de MLPClassifier()

In [14]:
mlp = MLPClassifier(max_iter=500,
                   activation='relu',
                   hidden_layer_sizes = (150, 150, 150),
                   random_state=42)

mlp.fit(X_train, y_train)

mlp.score(X_test, y_test)

0.4626865671641791

Utilizan descenso del gradiente, y por tanto son muy sensibles al escalado. Estandarizamos para el siguiente ejemplo

In [16]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc.fit(X_train)
X_train_s = sc.transform(X_train)
X_test_s = sc.transform(X_test)

per_clf = Perceptron()
per_clf.fit(X_train_s, y_train)
print(per_clf.score(X_train_s, y_train))
print(per_clf.score(X_test_s, y_test))

1.0
1.0

In [17]:
log_reg = LogisticRegression(max_iter=500)
log_reg.fit(X_train_s, y_train)
print(log_reg.score(X_train_s, y_train))
print(log_reg.score(X_test_s, y_test))

1.0
1.0

In [19]:
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
X_train_scal =scaler.transform(X_train)
X_test_scal =scaler.transform(X_test)

mlp = MLPClassifier(max_iter=500)
mlp.fit(X_train_scal, y_train)
print(mlp.score(X_train_scal, y_train))
print(mlp.score(X_test_scal, y_test))

1.0
1.0

In [20]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, mlp.predict(X_test_scal))

array([[31,  0,  0],
       [ 0, 13,  0],
       [ 0,  0, 23]], dtype=int64)