# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [88]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [89]:

chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [90]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [91]:
print(chipo['item_price'].dtype)

object

In [92]:
# Eliminar el símbolo de dólar y convertir a numérico
chipo['item_price'] = chipo['item_price'].str.replace('$', '')  # Quitar el símbolo de dólar
chipo['item_price'] = chipo['item_price'].astype(float)  # Convertir a numérico

# Verificar el resultado
print(chipo['item_price'].head())
print(chipo['item_price'].dtype)  # Para verificar el tipo de datos

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64
float64

In [93]:
precio_maximo = chipo['item_price'].max()

precio_maximo

np.float64(44.25)

In [95]:
# Find the maximum price
max_price = chipo['item_price'].max()

# Get the row(s) with the maximum price
max_price_rows = chipo[chipo['item_price'] == max_price]

# Extract the item name(s) with the maximum price
max_price_items = max_price_rows['item_name'].unique()

print(f"The item(s) with the highest price (${max_price:.2f}) is/are:")
for item in max_price_items:
    print(f"- {item}")

The item(s) with the highest price ($44.25) is/are:
- Chips and Fresh Tomato Salsa

### Step 4.How many products cost more than $10.00?

In [97]:
#Filter items priced over $10.00
expensive_items = chipo[chipo['item_price'] > 10.00]

# Count unique expensive items
num_expensive_items = expensive_items['item_name'].nunique()

print(f"Number of products costing more than $10.00: {num_expensive_items}")

Number of products costing more than $10.00: 31

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [100]:
# Filter orders with items priced over $10.00
expensive_orders = chipo[chipo['item_price'] > 10.00]

# Count unique order IDs
num_expensive_orders = expensive_orders['order_id'].nunique()

print(f"Number of orders containing a product costing more than $10.00: {num_expensive_orders}")

Number of orders containing a product costing more than $10.00: 863

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?