# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [14]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [15]:

chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [16]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [17]:
print(chipo['item_price'].dtype)

object

In [18]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '')  # Quitar el símbolo de dólar
chipo['item_price'] = chipo['item_price'].astype(float)  # Convertir a numérico

print(chipo['item_price'].head())
print(chipo['item_price'].dtype)  # Para verificar el tipo de datos

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64
float64

In [19]:
precio_maximo = chipo['item_price'].max()

precio_maximo

44.25

In [20]:
max_price = chipo['item_price'].max()

max_price_rows = chipo[chipo['item_price'] == max_price]

max_price_items = max_price_rows['item_name'].unique()

print(f"Producto mas caro (${max_price:.2f}):")
for item in max_price_items:
    print(f"- {item}")

Producto mas caro ($44.25):
- Chips and Fresh Tomato Salsa

### Step 4.How many products cost more than $10.00?

In [21]:
expensive_items = chipo[chipo['item_price'] > 10.00]

num_expensive_items = expensive_items['item_name'].nunique()

print(f"numero de productos mas caros que $10.00: {num_expensive_items}")

numero de productos mas caros que $10.00: 31

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [22]:
# pedidos de mas de $10.00
expensive_orders = chipo[chipo['item_price'] > 10.00]

# contar los id de ordenes no duplicados por producto
num_expensive_orders = expensive_orders['order_id'].nunique()

print(f"pedidos de mas de $10.00: {num_expensive_orders}")

pedidos de mas de $10.00: 863

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [23]:
# Agrupar por 'order_id' y sumar los precios de los items
total_por_pedido = chipo.groupby('order_id')['item_price'].sum()

# Contar cuántos pedidos tienen un total de más de $10
pedidos_mas_de_10 = total_por_pedido[total_por_pedido > 10.00]
num_pedidos_mas_de_10 = len(pedidos_mas_de_10)

print(f"Número de pedidos con un total de más de $10: {num_pedidos_mas_de_10}")

Número de pedidos con un total de más de $10: 1834

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [25]:
# Calcular el precio total por item en cada pedido
chipo['total_item_price'] = chipo['item_price'] * chipo['quantity']

# Filtrar pedidos donde al menos un item total cuesta más de $10
pedidos_item_mas_10 = chipo[chipo['total_item_price'] > 10.00]['order_id'].unique()

# Contar cuántos pedidos únicos cumplen esta condición
num_pedidos_item_mas_10 = len(pedidos_item_mas_10)

print(f"Número de pedidos donde se ha pagado más de $10 por un mismo producto: {num_pedidos_item_mas_10}")

Número de pedidos donde se ha pagado más de $10 por un mismo producto: 889

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [34]:
# agrupar por 'item_name' y obtener el primer precio (no se si todos son iguales para el mismo producto)
unit_prices = chipo.groupby('item_name')['item_price'].first().reset_index()

#unit_prices = chipo.groupby('unit_price').first().reset_index() ????????????????????

# Renombnrar 'item_price' column a 'unit_price'????
unit_prices = unit_prices.rename(columns={'item_price': 'unit_price'})

# Step 4: Sort the DataFrame by 'unit_price' in descending order
unit_prices = unit_prices.sort_values('unit_price', ascending=False)

# hay un total de 50 si tuviera mas que ???
print("\nTotal number of unique items:", len(unit_prices))
print()
print(unit_prices.head(51))

Total number of unique items: 50

                                item_name  unit_price
42                       Steak Salad Bowl       23.78
7                                    Bowl       22.20
17                           Chicken Bowl       16.98
15                    Carnitas Salad Bowl       11.89
4                     Barbacoa Salad Bowl       11.89
39                          Steak Burrito       11.75
3                   Barbacoa Crispy Tacos       11.75
1                           Barbacoa Bowl       11.75
49                      Veggie Soft Tacos       11.25
48                      Veggie Salad Bowl       11.25
44                            Veggie Bowl       11.25
45                         Veggie Burrito       11.25
20                          Chicken Salad       10.98
40                     Steak Crispy Tacos        9.25
43                       Steak Soft Tacos        9.25
16                    Carnitas Soft Tacos        9.25
13                  Carnitas Crispy Tacos        9.25
5                     Barbacoa Soft Tacos        9.25
11                          Carnitas Bowl        8.99
2                        Barbacoa Burrito        8.99
12                       Carnitas Burrito        8.99
14                         Carnitas Salad        8.99
38                             Steak Bowl        8.99
41                            Steak Salad        8.99
19                   Chicken Crispy Tacos        8.75
21                     Chicken Salad Bowl        8.75
22                     Chicken Soft Tacos        8.75
18                        Chicken Burrito        8.49
46                    Veggie Crispy Tacos        8.49
47                           Veggie Salad        8.49
33                           Crispy Tacos        7.40
8                                 Burrito        7.40
36                                  Salad        7.40
0                       6 Pack Soft Drink        6.49
25                    Chips and Guacamole        4.45
34                                   Izze        3.39
35                       Nantucket Nectar        3.39
26      Chips and Mild Fresh Tomato Salsa        3.00
30    Chips and Tomatillo Red Chili Salsa        2.95
29  Chips and Tomatillo Green Chili Salsa        2.95
27     Chips and Roasted Chili Corn Salsa        2.95
32    Chips and Tomatillo-Red Chili Salsa        2.39
31  Chips and Tomatillo-Green Chili Salsa        2.39
28     Chips and Roasted Chili-Corn Salsa        2.39
24           Chips and Fresh Tomato Salsa        2.39
9                             Canned Soda        2.18
23                                  Chips        2.15
37                          Side of Chips        1.69
10                      Canned Soft Drink        1.25
6                           Bottled Water        1.09

### Step 6. Sort by the name of the item

In [42]:

print(unit_prices.head(51))
print()
# lista completa:
unit_prices = unit_prices.sort_values('item_name', ascending=True)
print(unit_prices.to_string())

                                item_name  unit_price
49                      Veggie Soft Tacos       11.25
48                      Veggie Salad Bowl       11.25
47                           Veggie Salad        8.49
46                    Veggie Crispy Tacos        8.49
45                         Veggie Burrito       11.25
44                            Veggie Bowl       11.25
43                       Steak Soft Tacos        9.25
42                       Steak Salad Bowl       23.78
41                            Steak Salad        8.99
40                     Steak Crispy Tacos        9.25
39                          Steak Burrito       11.75
38                             Steak Bowl        8.99
37                          Side of Chips        1.69
36                                  Salad        7.40
35                       Nantucket Nectar        3.39
34                                   Izze        3.39
33                           Crispy Tacos        7.40
32    Chips and Tomatillo-Red Chili Salsa        2.39
31  Chips and Tomatillo-Green Chili Salsa        2.39
30    Chips and Tomatillo Red Chili Salsa        2.95
29  Chips and Tomatillo Green Chili Salsa        2.95
28     Chips and Roasted Chili-Corn Salsa        2.39
27     Chips and Roasted Chili Corn Salsa        2.95
26      Chips and Mild Fresh Tomato Salsa        3.00
25                    Chips and Guacamole        4.45
24           Chips and Fresh Tomato Salsa        2.39
23                                  Chips        2.15
22                     Chicken Soft Tacos        8.75
21                     Chicken Salad Bowl        8.75
20                          Chicken Salad       10.98
19                   Chicken Crispy Tacos        8.75
18                        Chicken Burrito        8.49
17                           Chicken Bowl       16.98
16                    Carnitas Soft Tacos        9.25
15                    Carnitas Salad Bowl       11.89
14                         Carnitas Salad        8.99
13                  Carnitas Crispy Tacos        9.25
12                       Carnitas Burrito        8.99
11                          Carnitas Bowl        8.99
10                      Canned Soft Drink        1.25
9                             Canned Soda        2.18
8                                 Burrito        7.40
7                                    Bowl       22.20
6                           Bottled Water        1.09
5                     Barbacoa Soft Tacos        9.25
4                     Barbacoa Salad Bowl       11.89
3                   Barbacoa Crispy Tacos       11.75
2                        Barbacoa Burrito        8.99
1                           Barbacoa Bowl       11.75
0                       6 Pack Soft Drink        6.49

                                item_name  unit_price
0                       6 Pack Soft Drink        6.49
1                           Barbacoa Bowl       11.75
2                        Barbacoa Burrito        8.99
3                   Barbacoa Crispy Tacos       11.75
4                     Barbacoa Salad Bowl       11.89
5                     Barbacoa Soft Tacos        9.25
6                           Bottled Water        1.09
7                                    Bowl       22.20
8                                 Burrito        7.40
9                             Canned Soda        2.18
10                      Canned Soft Drink        1.25
11                          Carnitas Bowl        8.99
12                       Carnitas Burrito        8.99
13                  Carnitas Crispy Tacos        9.25
14                         Carnitas Salad        8.99
15                    Carnitas Salad Bowl       11.89
16                    Carnitas Soft Tacos        9.25
17                           Chicken Bowl       16.98
18                        Chicken Burrito        8.49
19                   Chicken Crispy Tacos        8.75
20                          Chicken Salad       10.98
21                     Chicken Salad Bowl        8.75
22                     Chicken Soft Tacos        8.75
23                                  Chips        2.15
24           Chips and Fresh Tomato Salsa        2.39
25                    Chips and Guacamole        4.45
26      Chips and Mild Fresh Tomato Salsa        3.00
27     Chips and Roasted Chili Corn Salsa        2.95
28     Chips and Roasted Chili-Corn Salsa        2.39
29  Chips and Tomatillo Green Chili Salsa        2.95
30    Chips and Tomatillo Red Chili Salsa        2.95
31  Chips and Tomatillo-Green Chili Salsa        2.39
32    Chips and Tomatillo-Red Chili Salsa        2.39
33                           Crispy Tacos        7.40
34                                   Izze        3.39
35                       Nantucket Nectar        3.39
36                                  Salad        7.40
37                          Side of Chips        1.69
38                             Steak Bowl        8.99
39                          Steak Burrito       11.75
40                     Steak Crispy Tacos        9.25
41                            Steak Salad        8.99
42                       Steak Salad Bowl       23.78
43                       Steak Soft Tacos        9.25
44                            Veggie Bowl       11.25
45                         Veggie Burrito       11.25
46                    Veggie Crispy Tacos        8.49
47                           Veggie Salad        8.49
48                      Veggie Salad Bowl       11.25
49                      Veggie Soft Tacos       11.25

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [43]:
# ordenar por precio en orden descendente y obtener la primera fila
most_expensive = chipo.sort_values('item_price', ascending=False).iloc[0]

print(f"La comida mas cara'{most_expensive['item_name']}'")
print(f"su precio ${most_expensive['item_price']:.2f}")
print(f"las unidades pedidas {most_expensive['quantity']}")

La comida mas cara'Chips and Fresh Tomato Salsa'
su precio $44.25
las unidades pedidas 15

In [45]:
# precio mas caro
max_price = chipo['item_price'].max()

# filas con los precios mas caros
most_expensive_items = chipo[chipo['item_price'] == max_price]

# si hay varias comidas con precios altos las mostramos
for _, item in most_expensive_items.iterrows():
    print(f"la comida mas caruna '{item['item_name']}'")
    print(f"su precio ${item['item_price']:.2f}")
    print(f"cantidad pedida {item['quantity']}")

la comida mas caruna 'Chips and Fresh Tomato Salsa'
su precio $44.25
cantidad pedida 15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [46]:
# Filtrar 'Veggie Salad Bowl' pedidos
veggie_salad_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']

# contar el numero de pedidos
veggie_salad_count = len(veggie_salad_orders)

print(f"Veggie Salad Bowl pedido {veggie_salad_count} veces")

Veggie Salad Bowl pedido 18 veces

### Step 9. How many times did someone order more than one Canned Soda?

In [47]:
# Filtrar pedidos de 'Canned Soda' mas de 1 vez
multiple_soda_orders = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]

# contar el total de pedidos
count_multiple_sodas = len(multiple_soda_orders)

print(f"pedidos de mas de 1 Canned Soda: {count_multiple_sodas}")

Number of orders with more than one Canned Soda: 20
Total quantity of Canned Sodas in these orders: 42