# Fictional Army - Filtering and Sorting

### Import libraries

In [1]:
import numpy as np
import pandas as pd

### Step 1. This is the data given as a dictionary. Create a dataframe and assign it to a variable called army.

In [3]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, None, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, None, 3, None, 2, None, 2, None, None, 1, 2, None],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

### Step 2. Check missing values

### Step 3. Drop features, if there are more than 30% missing values.

### Step 4. Fill missing values with the mean of their regiment.

### Step 5. Set the 'origin' colum as the index of the dataframe

### Step 6. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

### Step 7. Select the rows 3 to 7 and the columns 3 to 6

### Step 8. Select every row after the fourth row and all columns

### Step 9. Select every row up to the 4th row and all columns

### Step 10. Select the 3rd column up to the 7th column

### Step 11. Select rows where df.deaths is greater than 50

### Step 12. Select rows where df.deaths is greater than 500 or less than 50

### Step 13. Select all the regiments not named "Dragoons"

### Step 14. Select the rows called Texas and Arizona

### Step 15. Select the third cell in the row named Arizona

### Step 16. Select the third cell down in the column named deaths