# Ex - GroupBy

In [25]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [33]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"

drinks = pd.read_csv(url)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [27]:
# Calculate average consumption by continent
average_consumption = drinks.groupby('continent')['beer_servings'].mean().sort_values(ascending=False)
average_consumption

continent
EU    193.777778
SA    175.083333
OC     89.687500
AF     61.471698
AS     37.045455
Name: beer_servings, dtype: float64

In [28]:
highest_consuming_continent = average_consumption.index[0]
highest_consuming_continent

'EU'

In [29]:
highest_average = average_consumption.iloc[0]
highest_average

np.float64(193.77777777777777)

### Step 5. For each continent print the statistics for wine consumption.

In [30]:
wine_stats = drinks.groupby('continent')['wine_servings'].agg(['mean', 'median', 'min', 'max', 'std'])
wine_stats

                 mean  median  min  max        std
continent
AF          16.264151     2.0    0  233  38.846419
AS           9.068182     1.0    0  123  21.667034
EU         142.222222   128.0    0  370  97.421738
OC          35.625000     8.5    0  212  64.555790
SA          62.416667    12.0    1  221  88.620189

In [35]:
drinks['wine_servings'].describe()

count    193.000000
mean      49.450777
std       79.697598
min        0.000000
25%        1.000000
50%        8.000000
75%       59.000000
max      370.000000
Name: wine_servings, dtype: float64

### Step 6. Print the mean alcohol consumption per continent for every column

In [43]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [40]:
drinks.groupby('continent')['beer'].mean()

TypeError: agg function failed [how->mean,dtype->object]

### Step 7. Print the median alcohol consumption per continent for every column

### Step 8. Print the mean, min and max values for spirit consumption per continent.